* {
  margin: 0;
  padding: 0; }

html {
  font-size: 10px; }

body {
  font-family: 'Crete Round', serif;
  padding: 30px; }

.m-left-huge {
  margin-left: 20rem; }

.col-1-of-2 {
  width: 49%;
  display: inline-block;
  box-sizing: border-box; }

.text-right {
  text-align: right; }

.text-editor {
  width: 100%;
  height: 55rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .text-editor__header {
    padding: 1rem 2rem;
    font-size: 2.2rem;
    background-color: #727272;
    color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }
  .text-editor__select-lang {
    display: inline-block; }
    .text-editor__select-lang:not(:last-child) {
      margin-right: 4rem; }
  .text-editor__label {
    margin-right: .6rem; }
  .text-editor__body {
    height: 47rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  padding: .6rem 3rem;
  color: #727272;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.7);
  text-decoration: none;
  transition: all .4s; }

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.7); }

.btn:active {
  transform: translate(0); }

.btn--run {
  background-color: rgba(255, 255, 255, 0.8); }
  .btn--run > i {
    color: #38ef7d;
    margin-right: .4rem; }
  .btn--run:hover {
    background-color: white; }

.slider-page {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden; }
  .slider-page__main {
    display: inline-block;
    width: 98%;
    height: 100%;
    transition: all .5s; }
  .slider-page__secondary {
    display: inline-block;
    width: 2%;
    height: 100%;
    transition: all .5s; }
  .slider-page__btn {
    height: 100%;
    width: 2%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #727272;
    color: #fff;
    cursor: pointer;
    display: block;
    transition: all .5s; }
  .slider-page__arrow-icon {
    font-size: 2rem;
    transition: transform .5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .slider-page__selector {
    display: none; }
  .slider-page__code {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    padding: 2rem;
    box-sizing: border-box;
    font-family: 'Slabo 27px', sans-serif;
    letter-spacing: 1px; }
    .slider-page__code:focus {
      outline: none; }
  .slider-page__selector:checked ~ .slider-page__secondary {
    width: 98%; }
  .slider-page__selector:checked ~ .slider-page__main {
    width: 2%;
    opacity: 0;
    visibility: hidden; }
  .slider-page__selector:checked ~ .slider-page__btn {
    right: 98%; }
  .slider-page__selector:checked ~ .slider-page__btn .slider-page__arrow-icon {
    transform: translate(-50%, -50%) rotate(180deg); }

.header {
  width: 70%;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  background-color: #eee;
  color: #727272;
  position: relative; }
  .header__logo {
    position: absolute;
    top: 2rem;
    left: 23rem;
    width: 5rem;
    height: 5rem; }
  .header__title {
    font-size: 4rem;
    text-align: center;
    letter-spacing: .3rem;
    margin-bottom: 3rem;
    position: relative; }
  .header__text-bg {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 2px; }
    .header__text-bg--1 {
      background-image: linear-gradient(to right, #076585, #fff); }
    .header__text-bg--2 {
      background-image: linear-gradient(to right, #fff, #ffe259); }
