// COLORS
$color-black: #000;
$color-white: #fff;
$color-gray: #eee;
$color-dark: rgb(114, 114, 114);
$color-dark-lighter: rgb(173, 173, 173);

$color-sky: #076585;
$color-sky-light: #e2f4fa;
$color-mango: #ffe259;
$color-green-light:  #38ef7d;

$color-red: #ed213a;
$color-red-dark: #93291e;